body{
    background-color: purple;
}
.mainDiv{
    width: 60%;
    background-color: white;
    border-radius: 10px;
}
.headcontainer{
    display: flex;
    /* flex-direction: column; */
}
.headcontainer div{
    margin:10px 25px;
}
.headcontainer2{
    background-color:lightgrey;
    padding:30px;
    opacity:0.5;
}
.headcontainer2 figure img{
    width:15%;
}
.navigation nav{
    background-color: purple;
    color: white;
    width: 90%;
    border:1px solid;
    border-radius: 40px;
    margin: 0 10px;
}
.navigation nav a{
    color:white;
    font-size:22px;
    text-decoration: none;
}
.navigation nav a:hover{
    background-color:orangered;
    border-radius:8px;
}
.mainContent{
    background-color:#d3d3d3;
}
.part1{
    display:grid;
    grid-template-columns: 70% auto;
    /* column-gap: 10px; */
   
}
.block1,.block2{
    background-color:white;
    border:1px solid grey;
    border-radius:10px;
    /* margin:10px 0; */
}
.block1{
    margin-left:10px;
    text-align:left;
    padding:10px;
    margin:10px;
    margin-right:5px;
}
.block2{
    margin:10px;
    padding: 10px 15px;
    color:purple;
    font-weight: bold;

}
.block2 button{
    color:purple;
    background-color:orange;
    border-radius:5px;
    border:none;
    padding:10px;
    font-weight: bold;
}
.block3 table tr td{
    padding:20px 30px;
}
.block4{
    margin:10px;
    /* width:100%; */
    padding:0;
}
.block4 table{
    background-color:purple;
    border-radius:10px;
    color:white;
    width:100%;
    padding:0 10px;
}
.block4 table td marquee a{
    color:yellow;
}
.part3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap:5px;
    margin:5px 20px;
}
.block5,.block6,.block7,.block8{
    border:1px solid lightgrey;
    background-color:white;
    border-radius:5px;
   
}
.block5 th,.block6 th,.block7 th{
    color:purple;
    font-size:22px;
}

.part4{
    text-align:right;
    margin: 5px 15px;
}
.footer1 a{
    
    color: white;
    text-decoration: none;
    padding:10px;
}
.footer1 a span{
    padding:0 10px;
}
.footer1{
    background-color: rgb(102, 54, 198);
    margin:10px;
    padding:10px;
}
footer{
    background-color: white;
    padding:15px;

}
